<div id="<%= dom_id preparatory %>">
  <p>
    <strong>Name:</strong>
    <%= preparatory.name %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= preparatory.duration %>
  </p>

  <p>
    <strong>Youtube video:</strong>
    <%= preparatory.youtube_video_id %>
  </p>

</div>
