<h1>Editing preparatory</h1>

<%= render "form", preparatory: @preparatory %>

<br>

<div>
  <%= link_to "Show this preparatory", @preparatory %> |
  <%= link_to "Back to preparatories", preparatories_path %>
</div>
