<div id="<%= dom_id step %>">
  <p>
    <strong>Question:</strong>
    <%= step.question %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= step.answer %>
  </p>

  <p>
    <strong>Lesson:</strong>
    <%#= step.lesson_id %>
    <%= step.lesson.name %>
  </p>

</div>
