<div id="<%= dom_id step %>">
  <p>
    <strong>Lesson:</strong>
    <%#= step.lesson_id %>
    <%= step.lesson.name %>
  </p>
  
  <p>
    <strong>Question:</strong>
    <%= step.question %>
  </p>
</div>
