<h1>Editing step</h1>

<%= render "form", step: @step %>

<br>

<div>
  <%#= link_to "Show this step", @step %>
  <%= link_to "Show this step", [@lesson, @step] %> |
  <%#= link_to "Back to steps", steps_path %>
  <%= link_to "Back to steps", lesson_steps_path(@lesson) %>
</div>
